<section>
    <h1>My Resources</h1>
    <div class="my-resources">
        <div class="header">
            @if (lastTab !== 'aut-num') {
            <button mat-flat-button color="primary" class="link-color" id="button-create-assignment" (click)="navigateToCreateAssignments()">
                {{ 'resource.createAssignment.text' | label }}
            </button>
            }
        </div>
        <div class="ipv4-ipv6-asn-tabs">
            <mat-tab-group
                mat-stretch-tabs="false"
                mat-align-tabs="start"
                animationDuration="0ms"
                (selectedTabChange)="tabClicked($event)"
                [selectedIndex]="lastTabIndex"
            >
                <mat-tab label="IPv4" id="inetnum">
                    @if (loading) { <loading-indicator class="resource-page-message"></loading-indicator> }
                    @for (resource of ipv4Resources; track resource.resource) {
                    <div class="resource-list"><resource-item [item]="resource"></resource-item></div>
                    }
                    @if (!loading && ipv4Resources.length === 0) {
                    <p class="resource-page-message">
                        @if (fail) { <refresh reason="{{ reason }}" (refreshClbk)="refreshPage()"></refresh> } @else { {{ reason }} }
                    </p>
                    }
                </mat-tab>
                <mat-tab label="IPv6" id="inet6num">
                    @if (loading) { <loading-indicator class="resource-page-message"></loading-indicator> }
                    @for (resource of ipv6Resources; track resource.resource) {
                    <div class="resource-list"><resource-item [item]="resource"></resource-item></div>
                    }
                    @if (!loading && ipv6Resources.length === 0) {
                    <p class="resource-page-message">
                        @if (fail) { <refresh reason="{{ reason }}" (refreshClbk)="refreshPage()"></refresh> } @else { {{ reason }} }
                    </p>
                    }
                </mat-tab>
                <mat-tab label="ASN" id="aut-num">
                    @if (loading) { <loading-indicator class="resource-page-message"></loading-indicator> }
                    @for (resource of asnResources; track resource.resource) {
                    <div class="resource-list"><resource-item [item]="resource"></resource-item></div>
                    }
                    @if (!loading && asnResources.length === 0) {
                    <p class="resource-page-message">
                        @if (fail) { <refresh reason="{{ reason }}" (refreshClbk)="refreshPage()"></refresh> } @else { {{ reason }} }
                    </p>
                    }
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
